body {
    padding: 0;
    margin: 0;
    
  }
  
  .navbar {
    font-family: "Oswald", sans-serif;
    background: -webkit-linear-gradient(
      to right,
      #fa7e3e,
      #fa7e3e
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fa7e3e, #fa7e3e);
    font-size: 20px;
  }
  
  
  .navbar-nav .nav-item .nav-link {
    color: white;
    margin-left: 5px;
    margin-right: 10px;
    transition: all 0.3s;
  }
  
  .f-border {
    height: 15px;
    width: 100%;
  }
  
  .footer-border {
    display: flex;
    flex-direction: row;
  }
  .header_img{
    
    height:351px;
    width:100%;
    background-image: url("./assets/Group\ 2297@2x.png");
   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Oswald", sans-serif;
   
  
  }
  .header_img h1{
      color:white;
      margin:auto;
  }
  .header_text{
      margin:60px 40px 0px 40px;
      color:black;
      font-size:20px ;
      text-align: justify;
      position: relative;
     
  }
  .col_img{
      margin-top:20px ;
  }
  .col_img img{
 display:block;
 margin:1px auto;
  }
  .row1{
      display:flex;
     justify-content: center;
     flex-direction: row;
      flex-wrap: wrap;
      padding:10px;
     
  }
  .wrapper{
      display:flex;
      flex-direction:column;
      justify-content: space-around;
      align-items: center;
      width:100%;
  }
  .main_col{
    background-color: white;
    width:400px;
    position:relative;
   height:500px;
    box-shadow:0px 0px 8px 1px rgb(167, 166, 166) ;
    margin:5px ;

  }
  .main_col button{
     
     position:absolute;
      
     bottom:20px;
      left:50%;
      margin-left:-47px ;
      background-color:white ;
      border:2px solid rgb(109, 180, 212);
      color:rgb(114, 190, 224);
      border-radius: 15px;
      font-size: 11px;
      width:94px;
      height:34px;
     
    
  }
  .img_sec{
    padding:30px;
  }
  .row1 .col-md-3{
    padding:0px;
    display:flex;
  }
 
  @media screen and (max-width:1190px){
      .main_col{
          height:auto;
          width:100%;
          padding:5px;
          margin-bottom:5px;
      }
      .main_col button{
          position:relative;
          margin-top: 20px;
      }
      
  }
  @media screen and (min-width:600px){
    .row1 .col-md-3{
      flex:0 0 25%;
      max-width:25% ;
    }
  }
  @media screen and (max-width:600px){
    .row1 .col-md-3{
      padding:30px;
      display:flex;
     
    }
    .img_sec{
      padding:0px;
    }
  }
 
    
  